{% load static %}

{% include 'home/header.html' %}

    <!-- Banner -->
    <div class="page-title" style="background-image: url(https://ndetech.org.in/admin/images/banner/1624627475_product.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Category</h1>
            <h5 style="color:#fff;"> <a href="https://ndetech.org.in/">Home</a> » <span>Products</span> </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Product -->
    <div class="main_products">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 col-12">
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601134490_Standard NDT Flawed Specimens KitUT,MT,PT,RT &amp; VT.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Flawed Specimens Kit (UT,MT,PT,RT &amp; VT)</h3>
                  <p>NDT Standard Flawed Specimens Demonstration Kit (UT,MT,PT,RT &amp; VT)
                    NDT Standard Flawed Specimens Kit.(UT,MT,PT,RT &amp; VT) For NDT Demonstration.
                    Total Kit: 5 specimens: 3 Plates, 1 Pipe and 1 Tee 15 Randomly Placed Discontinuities Flaws.
                    MT/PT (1) Tee @ 0.25”T x 4” x 8” x4”
                    VT (1) Plate @ 0.25”T x 4” x 8”
                    UT (1) Plate @ 0.625”T x 4” x 8”
                    RT (1) Pipe 4” Sch80 (0.337” wall) x 8” &amp; (1) Plate @ 0.625”T x 4” x 8”
                    Flaws: 2 to 3 each specimen, 15 total Flaws.
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Flawed-Specimens-Kit-UT-MT-PT-RT-VT">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601134986_Standard NDT MT Flawed Specimens Kit.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Magnetic Particle Flawed Specimens Kit</h3>
                  <p>NDT Standard Magnetic Particle Flawed Specimens Kit
                    NDT Standard MT Flawed Specimens Kit. (Magnetic Particle) For NDT MT Demonstration.
                    6 Plates, 2 Tee, 2 Pipe 25 Randomly Placed Discontinuities Flaws. 
                    Total Kit: 10 specimens (6) Plates @ 0.25"T (2) Tee @ 0.25"T, (2) Pipe @4"OD.
                    Flaws: 2 to 3 each specimen, 25 total Flaws.
                    Documentation: NDT Verification Reports,C of C, CAD Drawings and Test Sheets.
                    Material: Carbon Steel. (Customized Calibration Test Block and Flaw Specimen also available. Contact- info@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Magnetic-Particle-Flawed-Specimens-Kit">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601135407_Standard NDT PT Flawed Specimens Kit.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Liquid Penetrant Flawed Specimens Kit</h3>
                  <p>NDT Standard Liquid Penetrant Flawed Specimens Kit
                    NDT Standard PT Flawed Specimens Kit. (Liquid Penetrant) For NDT PT Demonstration.
                    6 Plates, 2 Tee, 2 Pipe, 25 Randomly Placed Discontinuities Flaws.
                    Total Kit: 10 specimens (6) Plates @ 0.25"T (2) Tee @ 0.25"T, (2) Pipe @4"OD. 
                    Flaws: 2 to 3 each specimen, 25 total Flaws.
                    Documentation: NDT Verification Reports, C of C, CAD Drawings and Test Sheets.
                    Material: Carbon Steel. (Customized Calibration Test Block and Flaw Specimen also available. Contact- support@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Liquid-Penetrant-Flawed-Specimens-Kit">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601135691_Standard NDT RT Flawed Specimens Kit.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Radiographic Testing Flawed Specimens Kit</h3>
                  <p>NDT Standard Radiographic Testing Flawed Specimens Kit
                    NDT Standard RT Flawed Specimens Kit (Radiographic Testing) For NDT RT Demonstration.
                    8 Plates, 1 Tee, 1Pipe. 25 Randomly Placed Discontinuities Flaws.
                    Total Kit: 10 specimens (5) Plates @ 0.375”T (3) Plates @ 0.625”T (1) Tee @ 0.375”T (1) Pipe @ 4” Sch80 (0.337” wall)
                    Flaws: 2 to 3 each specimen, 25 total Flaws.
                    Documentation: NDT Verification Reports,C of C, CAD Drawings and RT Film and Test Sheets
                    Material: Carbon Steel. (Customized Calibration Test Block and Flaw Specimen also available. Contact- support@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Radiographic-Testing-Flawed-Specimens-Kit">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1620818754_Standard NDT Radiographic Film Interpretation Reference Demonstration KIT.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Radiographic Film Interpretation Reference Set</h3>
                  <p>NDT Standard Radiographic Film Interpretation Reference Set RTFI
                    NDT Standard Radiographic Film Interpretation Reference Set (RTFI) For NDT RTFI Demonstration.
                    Film Set Contains: 16 Radiographs of 25 Flaws plus 6 Processing Defects.
                    Radiographs are of 10 carbon steel specimens as follows: (4) Plates @ 0.375"T (3) Plates @ 0.625"T (1) Tee @ 0.375"T (2) Pipe @ 4" Sch80 (0.337" wall).
                    Documentation: Includes C of C, CAD Drawings, Test Sheets &amp; Radiographs Film Set.
                    (Customized Calibration Test Block and Flaw Specimen also available. Contact- support@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Radiographic-Film-Interpretation-Reference-Set">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601136115_Standard NDT UT Flawed Specimens Kit.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Ultrasonic Testing Flawed Specimens Kit</h3>
                  <p>NDT Standard Ultrasonic Testing Flawed Specimens Kit
                    NDT Standard UT Flawed Specimens Kit (Ultrasonic Testing) For NDT UT Demonstration.
                    8 Plates, 1 Pipe and 1 Tee 25 Randomly Placed Discontinuities Flaws.
                    Total Kit: 10 Specimens (4) Plates @ 0.375”T (4) Plates @ 0.625”T (1) Tee @ 0.375”T (1) Pipe @ 4” Sch80 (0.337” wall)
                    Flaws: 2 to 3 each specimen, 25 total Flaws.
                    Documentation: UT Verification Reports,C of C, CAD Drawings and Test Sheets.
                    Material: Carbon Steel. (Customized Calibration Test Block and Flaw Specimen also available. Contact- support@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Ultrasonic-Testing-Flawed-Specimens-Kit">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601136325_Standard NDT VT Flawed Specimens Kit.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>NDT Standard Visual Testing Flawed Specimens Kit</h3>
                  <p>NDT Standard Visual Testing Flawed Specimens Kit
                    NDT Standard VT Flawed Specimens Kit (Visual Testing) For NDT VT Demonstration.
                    6 Plates, 2 Tee, 2 Pipe 25 Randomly Placed Discontinuities Flaws.
                    Total Kit: 10 specimens (6) Plates @ 0.25"T (2) Tee @ 0.25"T (2) Pipe @4'' OD.
                    Flaws: 2 to 3 each specimen, 25 total Flaws.
                    Documentation: NDT Verification Reports, C of C, CAD Drawings and Test Sheets.
                    Material: Carbon Steel. (Customized Calibration Test Block and Flaw Specimen also available. Contact- support@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/NDT-Standard-Visual-Testing-Flawed-Specimens-Kit">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1601136613_SURFACE EDDY CURRENT FLAWED SPECIMENS KIT.jpg">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>SURFACE EDDY CURRENT FLAWED SPECIMENS KIT</h3>
                  <p>SURFACE EDDY CURRENT FLAWED SPECIMENS KIT
                    Standard NDT ET Flawed Specimens Kit (Eddy Current Testing)For NDT ET Demonstration.
                    1 Plates, 1 Tee, 1 Pipe 1 Cruciform Type Joint,1 Semi Cruciform Type Joint 25 Randomly Placed Discontinuities Flaws
                    Total Kit: 5 specimens 20 total Flaws.
                    Documentation: NDT Verification Reports, C of C, CAD Drawings and Test Sheets.
                    Material: Carbon Steel. (Customized Calibration Test Block and Flaw Specimen also available. Contact- support@ndetech.org.in)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/SURFACE-EDDY-CURRENT-FLAWED-SPECIMENS-KIT">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product_inn33">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="main_products_bx">
                  <div class="pro_tile_img">
                    <img src="https://ndetech.org.in/admin/images/product/1629359603_Untitled.png">
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                <div class="product_inn3">
                  <h3>Training and Demonstration kit for RT Technician</h3>
                  <p>Training and Demonstration kit for RT Technician-Radiographic Testing
                    Specifications: Kit includes 10 plate specimens each specimen is 0.25” T x 4” x 8” Carbon Steel Of the 10 plates, 6 contain flaws and 4 are blanks.
                    Each plate has a weld that runs the 8” length of the plate and the crowns and roots have been ground flush in order to accommodate the stacking of the plates.
                    Kit Documentation Includes: Certificate of Conformance as Built CAD Drawings RT Film &amp; Technician Sheet (as per ASME Sec. V) Measuring &amp; Test Equipment Certificates Test Sheets (used during technician training and testing)
                  </p>
                  <div class="pro_btn">
                    <a href="https://ndetech.org.in/Training-and-Demonstration-kit-for-RT-Technician">View Product</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="main_products_side_menu">
              <ul id="accordion" class="accordion">
                <li>
                  <div class="link">
                    ASNT SNT-TC-1A NDT Training Flawed Specimens Kit<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Flawed-Specimens-Kit-UT-MT-PT-RT-VT">NDT Standard Flawed Specimens Kit (UT,MT,PT,RT &amp; VT)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Magnetic-Particle-Flawed-Specimens-Kit">NDT Standard Magnetic Particle Flawed Specimens Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Liquid-Penetrant-Flawed-Specimens-Kit">NDT Standard Liquid Penetrant Flawed Specimens Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Radiographic-Testing-Flawed-Specimens-Kit">NDT Standard Radiographic Testing Flawed Specimens Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Radiographic-Film-Interpretation-Reference-Set">NDT Standard Radiographic Film Interpretation Reference Set</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Ultrasonic-Testing-Flawed-Specimens-Kit">NDT Standard Ultrasonic Testing Flawed Specimens Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/NDT-Standard-Visual-Testing-Flawed-Specimens-Kit">NDT Standard Visual Testing Flawed Specimens Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/SURFACE-EDDY-CURRENT-FLAWED-SPECIMENS-KIT">SURFACE EDDY CURRENT FLAWED SPECIMENS KIT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Training-and-Demonstration-kit-for-RT-Technician">Training and Demonstration kit for RT Technician</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    API RP And API UT Flaw Specimen Qualification Kit<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/API-RP-2X-FLAW-SPECIMENS-Kit">API RP 2X FLAW SPECIMENS Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/API-UT-1-Qualification-Specimen-Mini-Kit">API UT 1 Qualification Specimen Mini Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/API-UT-1-Qualification-Test-Specimen-Kit">API UT 1 Qualification Test Specimen Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/API-Crack-Sizing-Bars-0-375-AND-1-Carbon-Steel">API Crack Sizing Bars 0.375″ AND 1</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    NDT ASME Section XI, Appendix VII Kit Specimen<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/NDT-ASME-Section-XI-Appendix-VII-Kit">NDT ASME Section XI Appendix VII Kit.</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ASME APPENDIX VIII KIT SPECIMEN<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/Supplement-10-Kit-for-Dissimilar-Metal-Weld-Specimen">Supplement 10 Kit for Dissimilar Metal Weld Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Supplement-2-Kit-for-Austenitic-Piping-Flaw-Specimen">Supplement 2 Kit for Austenitic Piping Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Supplement-3-Kit-for-Ferritic-Piping-Flaw-Specimen">Supplement 3 Kit for Ferritic Piping Flaw Specimen</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    CASTING AND FORGING FLAW SPECIMENS<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/90-Elbow-to-Pipe-Ultrasonic-Test-Practical-Exam-Flaw-Specimen">90° Elbow to Pipe Ultrasonic Test Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Bar-Stock-Ultrasonic-Test-Practical-Exam-Flaw-Specimen">Bar Stock Ultrasonic Test Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Bolt-Nut-MT-and-PT-Exam-Flaw-Specimen">Bolt Nut MT and PT Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Forged-Eye-Hook-MT-AND-PT-Exam-Flaw-Specimen">Forged Eye Hook MT AND PT Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Forged-Pipe-Flange-MT-and-PT-Exam-Flaw-Specimen">Forged Pipe Flange MT and PT Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Forged-Pipe-Flange-Ultrasonic-Test-Practical-Exam-Flaw-Specimen">Forged Pipe Flange Ultrasonic Test Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Forged-Shackle-and-Pin-MT-PT-Exam-Flaw-Specimen">Forged Shackle and Pin MT PT Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Formed-Metal-Plate-MT-and-PT-Exam-Flaw-Specimens">Formed Metal Plate MT and PT Exam Flaw Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Lap-Joint-Ultrasonic-Test-Practical-Exam-Flaw-Specimen">Lap Joint Ultrasonic Test Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Machined-Gear-Flange-MT-and-PT-Exam-Flaw-Specimen">Machined Gear Flange MT and PT Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Machined-Spindle-MT-and-PT-Exam-Flawed-Specimen">Machined Spindle MT and PT Exam Flawed Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Nozzle-to-Plate-Weld-Ultrasonic-Test-Practical-Exam-Flaw-Specimen">Nozzle to Plate Weld Ultrasonic Test Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Pipe-to-Socket-Weld-MT-and-PT-Exam-Flaw-Specimen">Pipe to Socket Weld MT and PT Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Plate-Ultrasonic-Test-Practical-Exam-Flaw-Specimen">Plate Ultrasonic Test Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Pipe-to-Socket-Weld-Ultrasonic-Practical-Exam-Flaw-Specimen">Pipe to Socket Weld Ultrasonic Practical Exam Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Rod-Stock-Ultrasonic-Test-Practical-Exam-Flawed-Specimen">Rod Stock Ultrasonic Test Practical Exam Flawed Specimen</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    Corrosion Erosion and Pitting Specimens<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Specimen-Pipe-OD-4-Carbon-Steel">Corrosion Erosion Pitting Specimen Pipe OD 4”-Carbon Steel</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Specimen-Pipe-OD-4-Stainless-Steel">Corrosion Erosion Pitting Specimen Pipe OD 4”-Stainless Steel</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Pipe-Flaw-Specimen-OD-6-Carbon-Steel">Corrosion Erosion Pitting Pipe Flaw Specimen OD 6”-Carbon Steel</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Pipe-Flaw-Specimen-OD-6-Stainless-Steel">Corrosion Erosion Pitting Pipe Flaw Specimen OD 6”- Stainless Steel</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Pipe-Specimen-OD-8-Stainless-Steel">Corrosion Erosion Pitting Pipe Specimen OD 8”- Stainless Steel</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Pipe-Specimen-OD-8-Carbon-Steel">Corrosion Erosion Pitting Pipe Specimen OD 8”- Carbon Steel</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Plate-Flaw-Specimen-Stainless-Steel-25mm">Corrosion Erosion Plate Flaw Specimen Stainless Steel 25mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Plate-Flaw-Specimen-Carbon-Steel-25mm">Corrosion Erosion Plate Flaw Specimen Carbon Steel 25mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Plate-Specimen-Carbon-Steel-30mm">Corrosion Erosion Pitting Plate Specimen Carbon Steel 30mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Plate-Specimen-Stainless-Steel-30mm">Corrosion Erosion Pitting Plate Specimen Stainless Steel 30mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Specimen-Plate-Carbon-Steel-15mm">Corrosion Erosion Pitting Specimen Plate Carbon Steel 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Corrosion-Erosion-Pitting-Specimen-Plate-Stainless-Steel-15mm">Corrosion Erosion Pitting Specimen Plate Stainless Steel 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Borescope-inspection-training-and-Demonstration-flaw-kit">Borescope inspection training and Demonstration flaw kit</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT Training Nozzle Flawed Specimens PCN Category-3.4.1<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/3-Pipe-to-Nozzle-Ultrasonic-Test-Flawed-Specimens-15mm-Set-on-Partial-Penetration-Joint">3” Pipe to Nozzle Ultrasonic Test Flawed Specimens 15mm (Set on Partial Penetration Joint)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/3-Pipe-to-Nozzle-Ultrasonic-Test-Flawed-Specimens-15mm-Set-through-Full-Penetration">3" Pipe to Nozzle Ultrasonic Test Flawed Specimens 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/3-Pipe-to-Nozzle-Ultrasonic-Test-Flaw-Specimen-15mm-Set-On-Full-Penetration">3" Pipe to Nozzle Ultrasonic Test Flaw Specimen 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/3-Pipe-to-Nozzle-Ultrasonic-Test-Flaw-Specimen-15mm-Set-Through-Partial-Penetration-Joint">3" Pipe to Nozzle Ultrasonic Test Flaw Specimen 15mm (Set Through Partial Penetration Joint)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/8-Pipe-to-Nozzle-UT-Flaw-Test-Specimens-20mm-Set-On-Full-Penetration-Joint">8" Pipe to Nozzle UT(Ultrasonic) Flaw Test Specimens 20mm (Set On Full Penetration Joint)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/8-Pipe-to-Nozzle-UT-Flaw-Test-Specimens-20mm-Set-on-Partial-Penetration-Joint">8" Pipe to Nozzle UT Ultrasonic Flaw Test Specimens 20mm (Set on Partial Penetration Joint)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/8-Pipe-to-Nozzle-Weld-UT-Flaw-Specimen-20mm-Set-Through-Full-Penetration-Joint">8"Pipe to Nozzle Weld UT Flaw Specimen 20mm (Set Through Full Penetration Joint)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/8-Pipe-to-Nozzle-Weld-UT-Flaw-Specimens-20mm-Set-Through-Partial-Penetration-Joint">8" Pipe to Nozzle Weld UT Flaw Specimens 20mm (Set Through Partial Penetration Joint)</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT TRAINING Tubular Nodes Flaw SPECIMENS PCN Category-3.9<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/30-Tubular-Nodes-Weld-Ultrasonic-Flaw-Specimen-12mm">30ᵒ Tubular Nodes Weld Ultrasonic Flaw Specimen 12mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/35-Tubular-Nodes-Weld-Ultrasonic-Flaw-Specimen-12mm">35ᵒ Tubular Nodes Weld Ultrasonic Flaw Specimen 12mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/40-Tubular-Nodes-Weld-Ultrasonic-Test-Flaw-Specimen-12mm">40ᵒ Tubular Nodes Weld Ultrasonic Test Flaw Specimen 12mm      </a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/45-Tubular-Nodes-Weld-Ultrasonic-Test-Flaw-Specimen-12mm">45ᵒ Tubular Nodes Weld Ultrasonic Test Flaw Specimen 12mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/35-Tubular-Nodes-Weld-UT-Flaw-Test-Specimen-15mm">35ᵒ Tubular Nodes Weld UT Flaw Test Specimen 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/40-Tubular-Nodes-Weld-UT-Flaw-Test-Specimen-15mm">40ᵒ Tubular Nodes Weld UT Flaw Test Specimen 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/45-Tubular-Nodes-Weld-UT-Flaw-Test-Specimen-15mm">45ᵒ Tubular Nodes Weld UT Flaw Test Specimen 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/60-Tubular-Nodes-Weld-UT-Flaw-Test-Specimen-15mm">60ᵒ Tubular Nodes Weld UT Flaw Test Specimen 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/70-Tubular-Nodes-Weld-UT-Flaw-Test-Specimen-15mm">70ᵒ Tubular Nodes Weld UT Flaw Test Specimen 15mm</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT Training T JOINT FLAW SPECIMENS PCN CATEGORY-3.4.2<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/T-Joint-SV-Ultrasonic-Testing-Flawed-Specimens-15mm">T Joint SV Ultrasonic Testing Flawed Specimens 15mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/T-Joint-DV-Plate-to-Plate-UT-Flaw-Specimens-25mm">T Joint DV Plate to Plate UT Flaw Specimens 25mm</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT Training PIPE Weld FLAWED SPECIMENS PCN CATEGORY-3.2.1,3.2.5 &amp; 3.2.7<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/3-Pipe-to-Pipe-Ultrasonic-Test-Flawed-Specimens">3” Pipe to Pipe Ultrasonic Test Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/4-Pipe-to-Pipe-Ultrasonic-Test-Flawed-Specimens">4” Pipe to Pipe Ultrasonic Test Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/6-Pipe-to-Pipe-Ultrasonic-Test-Flawed-Specimens">6” Pipe to Pipe Ultrasonic Test Flawed Specimens</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT TRAINING ULTRASONIC PLATE FLAW SPECIMENS PCN CATEGORY-3.1.2,3.1.4<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/15mm-SV-Plate-to-Plate-UT-Flaw-Specimen-As-per-BINDT-PCN-Classification-Specimens">15mm SV Plate to Plate UT Flaw Specimen (As per BINDT PCN Classification Specimens)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/20mm-SV-Plate-to-Plate-UT-Flaw-Specimen-As-per-BINDT-PCN-Classification-Specimens-">20mm SV Plate to Plate UT Flaw Specimen (As per BINDT PCN Classification Specimens)</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Double-V-Plate-to-Plate-UT-Flawed-Specimens-20mm">Double V Plate to Plate UT Flawed Specimens 20mm</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/25mm-Single-V-Plate-to-Plate-UT-Flawed-Specimens">25mm Single V Plate to Plate UT Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/25mm-Double-V-Plate-to-Plate-Ultrasonic-Testing-Flaw-Specimen">25mm Double V Plate to Plate Ultrasonic Testing Flaw Specimen</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT TRAINING AND EXAMINATION Radiography TESTING FLAW SPECIMENS RT<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/15mm-SV-Plate-to-Plate-Radiographic-Testing-RT-Flawed-Specimens">15mm SV Plate to Plate Radiographic Testing RT Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/20mm-DV-Plate-to-Plate-Radiography-Testing-RT-Flawed-Specimens">20mm DV Plate to Plate Radiography Testing RT Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/20mm-SV-Plate-to-Plate-Radiographic-Testing-RT-Flawed-Specimens">20mm SV Plate to Plate Radiography Testing RT Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/25mm-DV-Plate-to-Plate-Radiography-Testing-Flawed-Specimens-RT">25mm DV Plate to Plate Radiography Testing Flawed Specimens-RT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/25mm-SV-Plate-to-Plate-Radiographic-Testing-Flawed-Specimens-RT">25mm SV Plate to Plate Radiographic Testing Flawed Specimens-RT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/3-Butt-Weld-Joint-Pipe-RT-Flawed-Specimens-Radiography-Testing">3” Butt Weld Joint Pipe RT Flawed Specimens-Radiography Testing</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/4-Butt-Weld-Joint-Pipe-RT-Flawed-Specimens-Radiography-Testing">4” Butt Weld Joint Pipe RT Flawed Specimens-Radiography Testing</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/6-Butt-Weld-Joint-Pipe-Radiography-Testing-Flawed-Specimens-RT">6” Butt Weld Joint Pipe Radiography Testing Flawed Specimens-RT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/T-Joint-15mm-SV-Plate-to-Plate-RT-Flawed-Specimens-Radiography-Testing">T Joint 15mm SV Plate to Plate RT Flawed Specimens-Radiography Testing</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT TRAINING AND EXAMINATION VISUAL TESTING FLAW SPECIMENS VT<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/4-Pipe-To-Pipe-Visual-Testing-Flawed-Specimens">4” Pipe To Pipe Visual Testing Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/6mm-Plate-to-Plate-Visual-Testing-Flawed-Specimens">6mm Plate to Plate Visual Testing Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/T-Joint-6mm-Plate-to-Plate-Visual-Testing-Flawed-Specimens">T Joint 6mm Plate to Plate Visual Testing Flawed Specimens</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT TRAINING AND EXAMINATION MAGNETIC PARTICLE FLAWED SPECIMENS MT<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/4-Pipe-To-Pipe-Magnetic-particle-Test-Flawed-Specimens">4” Pipe To Pipe Magnetic particle Test Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/6mm-Plate-to-Plate-MT-Magnetic-particle-Test-Flawed-Specimens">6mm Plate to Plate MT-Magnetic particle Test Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/T-Joint-6mm-Plate-to-Plate-MT-Magnetic-particle-Flawed-Specimens">T Joint 6mm Plate to Plate MT-Magnetic particle Flawed Specimens</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    ISO-9712 NDT Training And Examination Penetrant Testing Flawed Specimens<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/4-Pipe-To-Pipe-Penetrant-Testing-Flawed-Specimens">4” Pipe To Pipe Penetrant Testing Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/6mm-Plate-to-Plate-Penetrant-Testing-Flawed-Specimens">6mm Plate to Plate Penetrant Testing Flawed Specimens</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/T-Joint-6-mm-Plate-to-Plate-Penetrant-Testing-Flawed-Specimens">T Joint 6mm Plate to Plate Penetrant Testing Flawed Specimens</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    PAUT AND TOFD FLAWED SPECIMENS-Phased Array Ultrasonic Testing<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/PAUT-And-TOFD-Pipe-to-Pipe-Weld-Joint-Flawed-Specimen-10-Dia">PAUT And TOFD Pipe to Pipe Weld Joint Flawed Specimen 10" Dia</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/PAUT-And-TOFD-Pipe-to-Pipe-Weld-Joint-Flawed-Specimen-16-Dia">PAUT And TOFD Pipe to Pipe Weld Joint Flawed Specimen 16" Dia</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/PAUT-And-TOFD-Plate-TO-Plate-Weld-Flawed-Specimen-Double-V-ASYMMETRICAL-1-3-2-3-THK">PAUT And TOFD Plate TO Plate Weld Flawed Specimen Double V ASYMMETRICAL 1/3+2/3 THK</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/PAUT-And-TOFD-Plate-to-Plate-Single-V-Flawed-Specimens-ASYMMETRICAL-1-3-2-3-THK">PAUT And TOFD Plate to Plate Single V Flawed Specimens ASYMMETRICAL 1/3+2/3 THK</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Phased-Array-Ultrasonic-Testing-And-TOFD-Plate-to-Plate-Double-V-Flawed-Specimen">Phased Array Ultrasonic Testing And TOFD Plate to Plate Double V Flawed Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Phased-Array-Ultrasonic-Testing-And-TOFD-Plate-to-Plate-Single-V-Flawed-Specimen">Phased Array Ultrasonic Testing And TOFD Plate to Plate Single V Flawed Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Phased-array-And-TOFD-Plate-Single-V-Weld-Flaw-Specimen">Phased array And TOFD Plate Single V Weld Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Phased-array-And-TOFD-Plate-Double-V-Weld-Flaw-Specimen">Phased array And TOFD Plate Double V Weld Flaw Specimen</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    STANDARD BOILER TUBES FLAW SPECIMEN KIT AS PER BS CODE<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/Standard-Boiler-Tubes-Specimen-Kit-as-per-BS-code">Standard Boiler Tubes Specimen Kit as per BS code</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    SURFACE EDDY CURRENT WELD FLAW TEST SPECIMENS<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-ECT-Cruciform-Weld-Flaw-Specimen">Eddy Current ECT Cruciform Weld Flaw Specimen</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Semi-Cruciform-Weld-Flaw-Specimen-ECT">Eddy Current Semi Cruciform Weld Flaw Specimen-ECT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Tubular-Node-Weld-Flaw-Specimen-ET">Eddy Current Tubular Node Weld Flaw Specimen-ET</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Tee-Joint-Weld-Flaw-Specimen-ECT">Eddy Current Tee Joint Weld Flaw Specimen-ECT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Pipe-Weld-Flaw-Specimen-ET">Eddy Current Pipe Weld Flaw Specimen-ET</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Weld-Flaw-Specimen-Plate-ECT">Eddy Current Weld Flaw Specimen Plate-ECT</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Testing-Weld-Flaw-Specimen-Plate-ET">Eddy Current Testing Weld Flaw Specimen Plate-ET</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/Eddy-Current-Testing-ET-Weld-Flaw-Specimens-Plate-ECT">Eddy Current Testing ET Weld Flaw Specimens Plate-ECT</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    Magnetic Flux Leakage MFL Floor Inspection Reference Standard<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/10-mm-Magnetic-Flux-Leakage-MFL-Floor-Inspection-Reference-Standard">10 mm Magnetic Flux Leakage MFL Floor Inspection Reference Standard</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/6-mm-Magnetic-Flux-Leakage-MFL-Floor-Inspection-Reference-Standard">6 mm Magnetic Flux Leakage MFL Floor Inspection Reference Standard</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/20-mm-Magnetic-Flux-Leakage-MFL-Floor-Inspection-Reference-Standard">20 mm Magnetic Flux Leakage MFL Floor Inspection Reference Standard</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/25-mm-Magnetic-Flux-Leakage-MFL-Floor-Inspection-Reference-Standard">25 mm Magnetic Flux Leakage MFL Floor Inspection Reference Standard</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="link">
                    AWS CWI WELDING TRAINING KIT<i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                    <li>
                      <a href="https://ndetech.org.in/AWS-D1-5-Bridge-Welding-Flaw-Kit">AWS D1.5, Bridge Welding Flaw Kit</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/AWS-D1-8-Annex-E-for-Structural-Weld-Flaw-Seismic-Supplement-for-Ultrasonic-Testing">AWS D1.8 Annex E for Structural Weld Flaw Seismic Supplement for Ultrasonic Testing</a>
                    </li>
                    <li>
                      <a href="https://ndetech.org.in/AWS-CWI-Weld-Visual-Kit-As-Per-AWS-D1-1">AWS/CWI Weld Visual Kit (As Per AWS D1.1)</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
 {% include 'home/footer.html' %}
</body>
</html>